body {
    min-height: 100vh;
    margin: 0;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    flex: 1;
    overflow: auto;
}

.footer {
    height: 80px;
    width: 100%;
    background-color: #1F2937;
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer-style {
    color: white;
    font-size: 16px;
    font-weight: 100;

}

.white-area {
    height: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.blue-area {
    width: 920px;
    height: 130px;
    background-color: #3882F6;
    border-radius: 8px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.containing-area-blue {
    display: flex;
    justify-content: center;
    gap: 100px;
    align-items: center;
}

.call-action {
    display: flex;
    color: white;
    font-weight: bold;
    font-size: 24px;
}

.second-button {
    background-color: #3882F6;
    color: white;
    padding: 8px 28px;
    border: 2px solid white;
    font-weight: bold;
    font-size: 14px;

}

.grey-area {
    height: 400px;
    background-color: #EFE7EB;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.containing-text {
     max-width: 700px;
}
.paragraph-style {
    max-width: 700px;
    margin: 0;
    font-size: 36px;
    font-style: italic;
    font-weight: 100;
    color: #1F2937;
}

.middlecontent {
    color: #1F2937;
    font-size: 36px;
    font-weight: extra-bold;
    margin: 40px 0px;
}

.content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.detail-boxes {
    max-width: 150px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 6px;
}

.boxes {
    height: 150px;
    width: 150px;
    border: 3px solid #3882F6;
    border-radius: 8px;
}

button {
    margin-top: 10px;
    background-color: #3882F6;
    color: white;
    padding: 5px 22px;
    border-radius: 6px;
    border-style: none;
}

.fourboxes {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 40px;
    margin-bottom: 80px;
}

.header-container {
    display: flex;
    flex-direction: row;
    background-color: #1F2937;
    width: 100%;
    min-height: 400px;
    flex: 1;
    justify-content: center;
    gap: 60px;
}

.left-header {
    max-width: 400px;
    background-color: #1F2937;
    display: flex;
    flex-direction: column;
    gap: 70px;
}


.right-header {
    display: flex;
    flex-direction: column;
    gap: 80px;
    background-color: #1F2937;
}

.left-side-two-header {
    max-width: 440px;
}

.right-side-two-header {
    min-width: 440px;
    min-height: 200px;
    max-width: 440px;
    background-color: grey;
    display: flex;
    align-items: center;
    justify-content: center;
}

.right-side-header {
display: flex;
gap: 14px;
justify-content: flex-end;
}

.larger-header-font {
    font-size: 48px;

}

h1 {
    font-size: 24px;
    font-weight: extra-bold;
    margin: 0;
    color: #F9FAF8;
}

h2 {
    font-size: 18px;
    font-weight: 100;
    margin: 0;
    color: #EFE7EB;
}

h3 {
    color: white;
    font-size: 18px;
}

h4 {
    margin: 0;
    font-weight: 200;
    font-size: 18px;
    text-align: center;
}

h5 {
    color: black;
    font-weight: bold;
    font-size: 24px;
    margin: 0;
    display: flex;
    align-items: end;
    flex-direction: column;
}